input[type="number"] {
    width: 60px;
    padding: 0.4em 0.6em;
    font-size: 18px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    background-color: #fff9f0;
    color: #1d1d1d;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    appearance: textfield; /* removes up/down buttons in some browsers */
}

.appetizers input[type="number"] {
    border: 2px solid #f4d35e;
}

.maincourse input[type="number"] {
    border: 2px solid #e63946;
}

.dessert input[type="number"] {
    border: 2px solid #f7a9a8;
}

.drinks input[type="number"] {
    border: 2px solid #0077b6;
}
