dt {
    max-width: 500px;
    margin-bottom: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    color: #1d1d1d;
    line-height: 1.5;
    background-color: #fff9f0;
    border-left: 4px solid #f4d35e;
    border-radius: 5px;
    padding: 0.8em 1em 0.8em 1.5em;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}

dd {
    max-width: 500px;
    margin-bottom: 1em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: #1d1d1d;
    line-height: 1.5;
    background-color: #fff9f0;
    border-left: 4px solid black;
    border-radius: 5px;
    padding: 0.8em 1em 0.8em 1.5em;
}