body{
    background-color: #f7f7f7;
}

h1 {
    font-family : Verdana, sans-serif;
    text-align : center;
    font-size : 250%;
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 3px;
    text-decoration-style: wavy;
    line-height: 150%;
    text-shadow: 4px 4px 7px rgba(0,0,0,0.4);
    color: #e63946;
  }

h2 {
    font-family:'Courier New', Courier, monospace;
    font-size: 250%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}